<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="springGain.dao.ProductDao">
	<select id="getProduct" parameterType="product" resultType="product">
		SELECT prodNum, prodname, prodprice, prodimg, prodinfo, proddate, (SELECT DISTINCT brandName FROM brand b, products p WHERE b.brandNum=p.brandNum) brandNum, categoryNum
		FROM products
		WHERE prodname LIKE '%'||#{prodName}||'%'
		<if test='categoryNum != null'>
		AND categoryNum LIKE '%'||#{categoryNum}||'%'
		</if>
		<if test='detailNum != null'>
		AND detailNum LIKE '%'||#{detailNum}||'%'
		</if>
		ORDER BY prodDate DESC
	</select>
	
	<select id="productDetail" resultType="product" parameterType="string">
		SELECT *
		FROM products
		WHERE prodnum = #{prodNum}
	</select>
	
	
	<insert id="insertProd" parameterType="product">
		INSERT INTO products VALUES('P'||pro_seq.nextval, #{prodName}, #{prodPrice}, #{prodImg}, #{prodInfo}, sysdate, #{brandNum},#{categoryNum}, #{detailNum})
	</insert>
	
	<select id="getBrand" resultType="brand">
		select *
		from brand
	</select>
	
	<select id="getCategory" resultType="category">
		select *
		from category
	</select>
	
	<select id="getDetailInfo" resultType="detail">
		select *
		from detailInfo
	</select>
	
	<select id="getCategoryName" resultType="category" parameterType="string">
		SELECT *
		FROM CATEGORY
		WHERE categorynum = #{categoryNum}
	</select>
	
	<select id="getDetailName" resultType="detail" parameterType="string">
		SELECT *
		FROM detailInfo
		WHERE categoryNum = #{categoryNum}
	</select>
	
	
	<select id="getOption" resultType="option" parameterType="string">
		SELECT *
		FROM prodOption
		WHERE categoryNum = #{categoryNum}
	</select>
	
	<delete id="deleteProd" parameterType="string">
		DELETE FROM products
		WHERE prodNum = #{prodNum}
	</delete>
	
	<update id="updateProd" parameterType="product">
		UPDATE products
		SET prodName = #{prodName},
			prodPrice = #{prodPrice},
			prodImg = #{prodImg},
			prodInfo = #{prodInfo},
			brandNum = #{brandNum},
			categoryNum = #{categoryNum},
			detailNum = #{detailNum}
		WHERE prodNum = #{prodNum}
	</update>
</mapper>