<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
   
<!-- 어드민 쿠폰 검색 -->
<mapper namespace="springGain.dao.CouponDao">
	<select id="getCouponList" parameterType="coupon" resultType="coupon">
	SELECT COUPONNUM, COUPONNAME, COUPONPERCENT, TO_CHAR(COUPONENDDATE, 'YYYY-MM-DD')COUPONENDDATE
	FROM coupon
	WHERE couponName Like '%'||#{couponName}||'%'
	ORDER BY COUPONNUM
	</select>
	
	<insert id="addCoupon">
		
	</insert>
	
</mapper>