<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
   <!-- // springweb.a05_mvc.a03_dao.A01_EmpDao
   		// public List<Emp> getEmpList(Emp sch);
   		인터페이스를 상속받은 실제 Dao 객체를 위 규칙에 생성하는 xml 파일
    -->
<mapper namespace="springGain.dao.GainMemberDao">
	<select id="getMemList" parameterType="gmember" resultType="gmember">
		select id from GainMember where id=#{id}
	</select>
	<insert id="insMem" parameterType="gmember">
		INSERT INTO GAINMEMBER values(
			#{id},#{nickname},#{pass},
			#{name},#{phonenum},
			to_date(#{birth},'YYYYMMDD'),
			#{sex},#{permissms},#{permisemail},#{permisapppush},#{permismail},
			#{permisphone},#{useinfo},1000,
			#{address},0
		)
	</insert>
	<select id="login" parameterType="gmember" resultType="gmember">
		select * from GainMember where id=#{id} and pass=#{pass}
	</select>
</mapper>