@charset "UTF-8";
a{
   cursor: pointer;
}

.search-box{
    padding: 4px 10px 0px 6px;
    position: absolute;
    width: 260px;
    left: 75%;
    bottom: 77.2%;
    transform: translate(-50%,-50%);
    height: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 0.5px 1px black;
    border: 1px solid black;
    border-radius: 30px;
    transition: 0.4s;
}

.search-btn{
    text-decoration: none;
    float: right;
    width: 8px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding-top: 9px;
}

.search-txt{
  display: flex;
  padding: 0;
  width: 0px;
  border:none;
  background: none;
  outline: none;
  float: left;
  font-size: 1rem;
  line-height: 0px;
  transition: .4s;
   width: 220px;
  padding: 0 6px;
}



.choice_category{
   text-align: center;   
}


.content{
   border-top: 1px solid black;
   margin-top: 15px;
   padding-top: 20px;
   display: flex;
}

.left_content{
   width: 230px;
   overflow: hidden;
   margin-right: 50px;
}

.category_subsection{
   padding: 15px 0px 5px 10px;
   border-bottom: 1px solid black;
}

.category_subsection li{
   margin-bottom: 15px;
}
.category_subsection li a:hover{
   color: #ed3124;
}


.right_content{
   float: right !important;
   width: 900px;
}

.insBtn_area{
   display: flex;
    flex-direction: row-reverse;
}
.insBtn_area .insBtn{
      width: 105px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: indigo;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

.product_area .product_list > li{
   width: 205px;
    height: 386px;
    margin: 30px 10px 75px;
}

.product_list{
   display: flex;
   flex-wrap: wrap;
}

.product_list .thumb{
    overflow: hidden;
    position: relative;
    width: 208px;
    height: 278px;
}
.product_list .thumb img{
   width: 100%
}
.product_list .product_info{
   padding-top: 15px;
}
.product_list .product_info dl > dt{
   font-weight: bold;
   margin-bottom: 5px;
}
.product_list .product_info dl > dd > p{
   font-size: 15px;
}

.price_info{
   display: flex;
   margin-top: 10px;
}

.price_info .price{
   margin-right: 10px;
}

.price_info .per{
    color: red;
    font-weight: 500;
}

.button_info{
   padding: 20px 0px 0px 50px;
}
.button_info .udtBtn{
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background: black;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

.button_info .delBtn{
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background: rgb(211, 84, 0);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: none;
}