<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
 <mapper namespace="springGain.dao.Raffle_Dao">
	<select id="getRafList" resultType="raffle">
		SELECT * FROM raffleInfo WHERE RESULT='진행중'
	</select>
	
	<insert id="insertRaffle" parameterType="raffle">
		INSERT INTO rafState values(#{rafId},#{id})
	</insert>
</mapper>  